1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

 *, -, /, + : Expressions

'hello', -87.8, 6 : values

2. What is the difference between string and variable?

String: It is a character that is in either single inverted commas or double intverted commas. For instance; "prabh", "776".

Variable: It is what contains the information or the data/ value. it can be either string for integer. For example; a = "prabh", here "a" is a variable that contains the value "prabh".

3. Describe three different data types.

(a). int(): Integer, contains numeric values

(b). str(): String, contains a character value

(c). True or False : Boolean, True = 1, False = 0

4. What is an expression made up of? What do all expressions do?

Expressions are the symbols that helps in the mathematical calculations. Example; *,+,-,/

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

6. After running the following code, what does the variable bacon contain?

In [2]:
bacon = 22

In [3]:
bacon + 1

23

bacon = 22 as we alraedy assigned value 22 to variable bacon. Adding a number will not change the value of the it.

7. What should the values of the following two terms be?

In [6]:
'spam' + "spamsspam"

'spamspamsspam'

Here, in the above code 'spam' a string value is added to the another string value 'spams spam'

In [7]:
'spam' * 3

'spamspamspam'

The other code just tells to repeat spam 3 times.

8. Why is eggs a valid variable name while 100 is invalid?

A variable name should always be a character not a number. It can contain number values however it can not be all numeric. For example; prabh_99 is valid. The same way eggs is a valid variable and 100 is not a valid variable.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Integer: int()
Floating-point: float()
string: str()

10. Why does this expression cause an error? How can you fix it?

In [12]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

Here, the first and the last value is a string and the middle value in an integer. To fix this problem we can convert 99 into a string value by using the command str()

In [13]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'

There you go!:)